<!DOCTYPE html>
<html lang="en">
<head>
  <title>Algorithm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Algorithm</h1>
    <p>The journey to self discovery.</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> <img src="images/logo.jpg" alt="" width="50px" height="40px"  > </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="archive">Archive</a></li>
        <li><a href="create">New Post</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
<div class="intro">
<h2>Heres a list of the posts that you have made or drafted.</h2>
<p class="text-center"> <strong> Life is not about finding yourself , it is about creating yourself. </strong> </p>
</div>
</div>


<div class="row">
  <ul>
    <li> <a href="view/1">Why i code?</a> </li>
    <li> <a href="view/2">Healthy eating habits</a> </li>
    <li> <a href="view/3">Mental health</a> </li>
    <li> <a href="view/4">Design</a> </li>
    <li> <a href="view/5">Tech</a> </li>
    <li> <a href="view/6">How can I help?</a> </li>
  </ul>
</div>



<footer class="container-fluid bg-4 text-center">
  <p>Live life to the fullest <a href="#">,Always</a></p>
</footer>

</div>
</body>
</html>
